


<h2>New Store</h2>

<%= form_for @store do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :location %>
  <%= f.text_field :location, required: true %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit %>
<% end %>
