
<h1>Update Order</h1>

<%= form_for @order do |f| %>

    <%= f.label :product_id %>
    <%= f.select("product_id", Product.all.collect {|p| [ p.name + " - " + p.price.to_s, p.id ] }, { include_blank: true }) %>

  <%= f.submit %>

<% end %>


<h3>Delete Order</h3>

<%= form_for @order, method: :delete do |f| %>
  <%= f.submit "Delete", class: "delete" %>
<% end %>
