
<h1>New Order</h1>


<%= form_for @order do |f| %>

    <%= f.label :product_id %>
    <!-- Good use of select form helper -->
    <%= f.select("product_id", Product.all.collect {|p| [ p.name + " - " + " $ " + p.price.to_s, p.id ] }, { include_blank: true }) %>

  <%= f.submit %>

<% end %>

<h1> <%= link_to "My Orders", orders_path %> </h1>
