
<!-- nice flash messages, although since you are rendering any existing flashes in your application layout perthaps they are not needed here -->
<% @product.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>





<h2>New Product</h2>

<%= form_for [@store, @product] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :price %>
  <%= f.text_field :price, required: true %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit %>
<% end %>
