

<% if @product.user == current_user %>
<h1> <%= link_to "Edit Product", edit_store_product_path(@product.store)%> </h1>
<% end %>
<!-- Avoid using br tags; instead you can add padding or margin to the bottom of an HTML element -->
<br>


<div class="product-show">



<h2> <%= @product.name %> </h2>
<h2> Category: <%= @product.category %> </h2>
<h2> Price: $<%= @product.price %>  </h2>
<h2> From: <%= link_to @product.store.name, store_path(@product.store) %> </h2>
<h2> <%= image_tag @product.img_url %> </h2>

</div>
